body{
    background-color: goldenrod;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: solid;
    color: red;
}

.love_story {
    background-color: gold;

}
     .taylor > div {

        display: flex;
        flex-wrap: wrap;
    
    }

    .taylor > div {
        background-color: springgreen;
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        width: 100px;
    }
